
@media screen and (max-width:1800px){


}


@media screen and (max-width:1700px){

}


@media screen and (max-width:1500px){



}


@media screen and (max-width:1290px){
}


@media screen and (max-width:1024px){


}


@media screen and (max-width:834px){


.w{ width:94%;}

.zkHead{ padding:10px 0;}
.zkHead-logo{ width:180px;}
.zkHead-tel{ display:none;}
.zkHead-search{ display:none;}
.zkHead-WeChat{ display:none;}

.zkNav{ display:none;}
.pmenuBtn{ display:block;}

.zkBanner .swiper-pagination{ bottom:10px !important;}
.zkBanner .swiper-pagination-bullet{ width:10px; height:10px; margin:0 5px !important;}

.zkNews-page{ padding:25px 0;}
.zkNews{ width:100%;}
.zkNews-title .cn{ font-size:18px; padding-left:10px; line-height:24px; border-width:3px;}
.zkNews-title .mo{ font-size:14px; line-height:24px; padding-top:0;}
.zkNews-title ul li{ font-size:16px; margin-left:10px; line-height:24px; padding-top:0;}
.zkNews-title ul li:before{ bottom:-4px;}

.zkNews-list li{ width:100%; margin-bottom:12px;}
.zkNews-list li .word{ padding:12px;}
.zkNews-list li .word .t{ font-size:16px;}
.zkNews-list li .word .c{ height:48px; margin-top:6px;}
.zkNews-list li .word .f{ margin-top:10px; font-size:13px; line-height:30px;}
.zkNews-list li .word .f .view{ line-height:28px;}


.zkAbout{ width:100%; padding-top:10px;}
.zkAbout-info .word{ padding:15px 12px;}
.zkAbout-info .word .t{ font-size:16px;}
.zkAbout-info .word .c{ height:48px; margin-top:6px;}
.zkAbout-info .word .f{ margin-top:15px;}
.zkAbout-info .word .f .btn{ font-size:15px; width:48%; line-height:30px; }


.zkDepart-page{ padding:25px 0;}
.zkDepart{ width:100%;}
.zkDepart-tab{ width:100%; padding-top:10px;}
.zkDepart-list{ min-height:inherit; padding:0 12px 12px 12px;}
.zkDepart-list a{ width:48%; line-height:36px; font-size:15px;  padding-left:24px; margin:12px 0 0 0;  display:inline-block;}
.zkDepart-list a:nth-child(2n+2){ float:right;}
.zkDepart-list a:before{ left:13px;}

.zkGuide{ width:100%; margin-top:20px;}
.zkGuide-menu{ margin-top:15px;  padding:0;}
.zkGuide-menu a{ width:25%; padding:15px 0;}
.zkGuide-menu a .icon{ width:30px;}
.zkGuide-menu a .tit{ margin-top:6px; font-size:15px;}



.zkExperts{ padding:25px 0;}
.zkExperts-query{ width:100%; padding:12px;}
.zkExperts-query .tit{ font-size:16px; padding-bottom:8px;}
.zkExperts-query .filed li{ padding:7px 0;}
.zkExperts-query .filed li .inpt{ height:38px; line-height:36px; padding-left:15px; font-size:15px;}
.zkExperts-query .filed li .btn{ height:40px; line-height:40px; font-size:16px;}

.zkExperts-list{ width:100%; padding:0 45px; border:0;}
.zkExperts-list-box{ padding:20px 0;}
.zkExperts-list-box li .txt{ padding:12px;}
.zkExperts-list .swiper-button-next, .zkExperts-list .swiper-button-prev{ font-size:26px; margin-top:-13px;}
.zkExperts-list .swiper-button-next{ right:8px;}
.zkExperts-list .swiper-button-prev{ left:8px;}


.zkHealth-page{ padding:25px 0;}
.zkHealth-item{ width:100%; margin-right:0; margin-bottom:15px;}
.zkHealth-item .pic .cn{ width:130px; line-height:40px; font-size:17px;}
.zkHealth-item .list{ padding:7px 12px;}
.zkHealth-item .list li{ padding:5px 0;}
.zkHealth-item .list li a{ font-size:15px;}
.zkHealth-item .list li span{ margin-top:5px;}


.zkEqui-list-box li .tit{ font-size:15px; line-height:40px;}
.zkEqui-list .swiper-button-next, .zkEqui-list .swiper-button-prev{ width:32px; height:32px; line-height:30px; top:-45px; font-size:16px;}
.zkEqui-list .swiper-button-prev{ right:45px;}


.zkFooter{ margin-top:25px;}
.zkFooter-links{ padding:12px 0; line-height:24px;}
.zkFooter-links .tit img{ width:24px; margin-right:7px;}
.zkFooter-links .txt{ width:calc(100% - 110px);}
.zkFooter-links .txt a{ padding:0 6px;}
.zkFooter-btm{ padding:15px 0;}
.zkFooter-btmLeft{ width:100%;}
.zkFooter-btmLeft .f-code dd{ width:70px; margin:10px 10px 0 0;}
.zkFooter-btmLeft .f-code dd .t{ margin-top:5px;}
.zkFooter-btmLeft .f-copy{ padding-top:15px; line-height:22px;}

.zkFooter-btmMiddle{ width:100%; padding:0; border:0;}
.zkFooter-btmMiddle dl{ padding-top:15px !important;}
.zkFooter-btmMiddle dl dt{ padding-top:4px; width:22px;}
.zkFooter-btmMiddle dl dd{ line-height:20px;}
.zkFooter-btmMiddle dd .tel{ font-size:15px;}

.zkFooter-btmRight{ width:100%; padding-top:15px; text-align:left;}
.zkFooter-btmRight img{ width:80px; margin-bottom:6px;}

.zkFooter-sider{ width:65px;}
.zkFooter-sider a{ padding:10px 0;}
.zkFooter-sider a .iconfont{ margin-bottom:5px; font-size:20px;}



.pmain-pos{ color:#fff; padding:10px 0 10px 5px; margin-bottom:10px; background:#0e5fa7;}
.pmain-menu{ padding-left:0;}
.pmain-menu a{ width:50%; line-height:40px;}

.pabout{ padding:10px;}
.pabout-figure{ padding-bottom:30px;}
.pabout-figure li .tit{ padding:5px 10px; font-size:15px;}
.pabout-figure .swiper-pagination-bullet{ width:10px; height:10px;}
.pabout-info{ font-size:15px; line-height:30px;}
.pabout-info .t{ font-size:17px; padding-bottom:20px;}
.pabout-info .t:before{ width:80px; height:2px; bottom:12px;}

.phonor-main{ padding:10px 10px 20px 10px;}
.phonor-list{ margin-left:-12px;}
.phonor-list li{ width:calc(50% - 12px); margin-top:12px; margin-left:12px;}
.phonor-list li .pic{ padding:3px;}
.phonor-list li .tit{ font-size:15px; margin-top:5px;}

.phonor-popup-iboxt{ width:94%; padding:30px;}
.phonor-popup-iboxt .close{ width:30px; height:30px; line-height:30px; font-size:20px; top:10px; right:10px;}
.phonor-popup-iboxt .tit{ font-size:16px; padding-bottom:10px;}
.phonor-popup-iboxt a.prev, .phonor-popup-iboxt a.next{ background:#acacac; width:40px; height:40px; line-height:38px; color:#fff; font-size:20px; margin-top:-20px;}
.phonor-popup-iboxt a.prev{ left:5px;}
.phonor-popup-iboxt a.next{ right:5px;}


.ppage{ padding-top:20px;}
.ppage a{ line-height:30px; margin:3px; padding:0 10px;}
.ppage .nowpage{ line-height:30px; margin:3px; padding:0 10px;}


.pnews-list{ padding-top:0;}
.pnews-list li{ padding:15px 10px;}
.pnews-list li .pic{ width:100%;}
.pnews-list li .word{ width:100%; padding:10px 0 0 0;}
.pnews-list li .word .t{ font-size:16px;}
.pnews-list li .word .c{ margin-top:6px;}
.pnews-list li .word .f{ margin-top:8px; font-size:13px;}
.pnews-list li .word .f .browse{ padding:0 10px;}

.pnews-line{ padding-bottom:25px;}
.pnews-line li .text{ padding:10px;}
.pnews-line li .text .d{ margin-top:6px;}

.pnews-detaTop .t{ padding-bottom:10px; font-size:18px; line-height:30px;}
.pnews-detaTop .c span{ padding:0 5px;}
.pnews-detaInfo{ font-size:15px; line-height:30px; padding:20px 0;}

.pnews-detaPage{ padding:12px;}
.pnews-detaPage a{ width:100%; line-height:30px; max-width:inherit; display:block;}
.pnews-detaPage .return{ background:none; line-height:30px; font-size:14px; padding:0; position:relative; left:auto; margin-left:auto;}

.pdepart-title .cn{ font-size:17px; width:100%; padding-bottom:10px;}
.pdepart-title .index{ width:100%;}
.pdepart-list dl{ margin-top:20px;}
.pdepart-list dl dt{ font-size:16px; padding-left:25px; line-height:40px;}
.pdepart-list dl dt:before{ width:3px; height:20px; left:12px; top:10px;}
.pdepart-list dl dd{ padding:10px 15px;}
.pdepart-list dl dd a{ width:50%; line-height:32px; font-size:15px; padding-left:12px;}


.pdepart-detaInfo-figure{ width:100%;}
.pdepart-detaInfo-word{ width:100%;}
.pdepart-detaInfo-word .t .cn{ font-size:16px; padding-bottom:10px;}
.pdepart-detaInfo-word .t .mo{ margin-top:0;}
.pdepart-detaInfo-word .c{ font-size:15px; line-height:28px; height:56px;}
.pdepart-detaInfo-word .f{ margin-top:15px; padding:15px;}
.pdepart-detaInfo-word .f span{ display:block; padding:5px 0 5px 0 !important;}
.pdepart-detaInfo-word .f .iconfont{ font-size:22px;}


.pdepart-detaDoctor{ margin-top:20px;}
.pdepart-detaDoctor-title{ font-size:16px;}
.pdepart-detaDoctor-listBox{ margin-top:10px;}
.pdepart-detaDoctor-list{ padding:15px;}
.pdepart-detaDoctor-list .swiper-button-next, .pdepart-detaDoctor-list .swiper-button-prev{ width:30px; height:30px; line-height:28px; font-size:16px; top:-40px;}
.pdepart-detaDoctor-list .swiper-button-prev{ right:40px;}


.pvisits-head{ padding:10px 0 15px 0;}
.pvisits-head .cn{ font-size:16px; width:100%;}
.pvisits-head .choose{ width:100%; padding-top:10px;}

.pvisits-screen dl dt{ width:100%; padding:10px; line-height:inherit; text-align:left; border-bottom:1px #eaeaea solid;}
.pvisits-screen dl dd{ padding:10px; border:0;}
.pvisits-screen dl dd .fenlei li a{ padding:0 10px; line-height:32px; margin:5px 10px 0 0; font-size:15px;}
.pvisits-screen dl dd .keshi li{ width:50%;}
.pvisits-screen dl dd .keshi li span{ font-size:15px; line-height:33px;}

.pvisits-title{ padding:20px 0 15px 0;}
.pvisits-title .cn{ font-size:17px;}
.pvisits-title .clin dd{ padding-left:20px;}
.pvisits-title .search{ width:100%; margin-top:5px; position:relative;}
.pvisits-title .search .inpt{ width:100%;}
.pvisits-title .search .btn{ position:absolute; right:0; top:0;}

.pvisits-list{ margin-left:0;}
.pvisits-list li{ width:100%; margin-left:0; margin-top:15px; padding:10px;}
.pvisits-list li .pic{ width:100px;}
.pvisits-list li .word{ width:calc(100% - 100px); padding-left:15px;}
.pvisits-list li .word .t{ font-size:16px;}
.pvisits-list li .word .t label{ padding:0 5px;}
.pvisits-list li .word .d{ padding:0;}
.pvisits-list li .word .m{ padding-top:10px;}
.pvisits-list li .word .m .btn{ width:70px; height:25px; line-height:25px;}


.pdoctor-head{ padding:12px;}
.pdoctor-head .pic{ width:100%; text-align:center;}
.pdoctor-head .info{ width:100%; padding:10px 0;}
.pdoctor-head .info .t{ font-size:16px;}
.pdoctor-head .info .d{ padding:5px 0;}
.pdoctor-head .belong{ width:100%; min-height:inherit; padding-top:0; border:0;}
.pdoctor-head .belong .bt{ font-size:17px;}
.pdoctor-head .belong .bm{ width:auto; padding:0 15px; line-height:34px; font-size:15px;}
.pdoctor-head .belong .bm .iconfont{ margin-left:10px;}

.pdoctor-int{ margin-top:20px;}
.pdoctor-intTit{ font-size:17px; line-height:24px;}
.pdoctor-intTit img{ width:24px;}
.pdoctor-intTit .tips{ display:block; width:100%; font-size:14px; padding-left:0; margin-top:5px;}
.pdoctor-intTxt{ font-size:15px; line-height:30px; padding:15px;}

.pdoctor-make{ margin-top:20px;}
.pdoctor-make-filed{ padding:15px;}
.pdoctor-make-filed li{ width:100%; min-height:inherit; margin:0; margin-top:15px;}
.pdoctor-make-filed li .label{ width:85px; height:40px; line-height:40px; font-size:15px; padding-left:10px;}
.pdoctor-make-filed li .inpt{ font-size:15px; height:42px; line-height:40px; padding-left:90px;}
.pdoctor-make-filed li .gender{ height:42px; line-height:40px; font-size:15px; padding-left:90px;}
.pdoctor-make-filed li .gender dd{ font-size:15px; line-height:40px; padding-right:15px;}
.pdoctor-make-filed li .gender dd label:before{ width:22px; height:22px; margin-right:10px;}
.pdoctor-make-filed li .yzm-img{ width:100px; height:40px;}
.pdoctor-make-button .btn{ height:45px; line-height:45px; font-size:17px;}

}



@media screen and (max-width:640px){


}



