@charset "utf-8";
/* CSS Document */

body { font-size:14px; font-family:"Microsoft Yahei"; color:#333; background:#fff; -webkit-tap-highlight-color:transparent; }
input[type="text"], input[type="button"], input[type="submit"], input[type="reset"], textarea { font-family:"Microsoft Yahei"; -webkit-appearance: none; border-radius:0; }
h1, h2, h3, h4, h5, h6{ font-weight:normal;}
ul, li, ol, dl, dt {list-style:none;}
img { border:0; vertical-align:top; max-width:100% !important;}
a { text-decoration:none; color:#333; cursor:pointer; -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; transition:0.3s;}
a:hover { text-decoration:none; color:#015198; }
*{ margin:0; padding:0; border:0; font-size:100%; outline:none;  word-break:break-all; word-wrap:break-word; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.clearfix:after { clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0; }
.clearfix { zoom: 1 }
.fl { float:left; }
.fr { float:right; }
.w{ width:1280px; margin:0 auto; }
.align-vertical { display:table-cell; vertical-align:middle;}
.hide{ display:none;}


/*阻止旋转屏幕时自动调整字体大小*/
textarea { resize: none; -webkit-appearance: listbox; -moz-appearance: listbox; }
/*取消按钮在iphone上的默认样式*/
input[type=button], input[type=number] { -webkit-appearance: none; outline: none; }
/*移除上下小箭头  chrome*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0;}
input[type=number], input[type=date], input[type=datetime], input[type=datetime-local] ,input[type=submit],input[type=button],select{ -moz-appearance: textfield; -webkit-appearance: none !important; margin: 0; }
/*移除上下小箭头 Firefox*/
input::-webkit-input-placeholder { color:#999; }
textarea::-webkit-input-placeholder { color:#999; }
input::-webkit-input-speech-button { display: none; }


@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}


/**index**/
.zkHead{ padding:19px 0 14px 0; position:relative; z-index:99;}
.zkHead-tel{ background:url(../images/tel.png) no-repeat left center; padding-left:56px; margin:17px 0 0 155px;}
.zkHead-tel .num{ font-size:24px; font-weight:bold; color:#d80d0d;}
.zkHead-search { width:284px; margin:23px 0 0 65px; border:2px #0e5fa7 solid; border-radius:20px; overflow:hidden;} 
.zkHead-search .inpt{ background:url(../images/srh-icon.png) no-repeat 14px center; width:223px; height:34px; line-height:34px; padding-left:46px; color:#c0c0c0; float:left;}
.zkHead-search .btn{ background:#0e5fa7; width:57px; height:34px; line-height:34px; text-align:center; color:#fff; font-size:16px; cursor:pointer;}
.zkHead-WeChat{ margin-top:23px; position:relative;}
.zkHead-WeChat .we-btn{ line-height:39px; display:inline-block;}
.zkHead-WeChat .we-btn .iconfont{ font-size:39px; color:#31a825; display:inline-block; vertical-align:top; margin-right:8px;}
.zkHead-WeChat .we-box{ background:#fff; width:120px; text-align:center; position:absolute; left:0; top:100%; padding:10px; font-size:13px; display:none;}
.zkHead-WeChat .we-box img{ margin-bottom:6px;}
.zkHead-WeChat:hover .we-box{ display:block;}


.zkNav{ background:#0e5fa7; width:100%; position:relative; z-index:98;}
.zkNav li{ width:9%; float:left; position:relative; text-align:center;}
.zkNav li a.far{ display:block; font-size:16px; color:#fff; line-height:56px;}
.zkNav li.active a.far, .zkNav li:hover a.far{ background:#31a825;}
.zkNav li .sub{ background:#0e5fa7; width:100%; position:absolute; left:0; top:100%; padding:5px 0; display:none;}
.zkNav li .sub a{ display:block; line-height:36px; color:#fff;}
.zkNav li .sub a:hover{ background:#31a825;}


/**手机导航**/
.pmenuBtn { width:60px; height:100%; position:absolute; right:0; top:0; cursor: pointer; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; display:none;}
.menu-handler { width:100%; height:100%; cursor: pointer; position: relative; transition: all 0.3s cubic-bezier(0.445, 0.145, 0.355, 1); -webkit-transition: all 0.3s cubic-bezier(0.445, 0.145, 0.355, 1); -moz-transition: all 0.3s cubic-bezier(0.445, 0.145, 0.355, 1); background-color:#1376ce; }
.menu-handler .burger { width:30px; height: 3px; background:#fff; display: block; position: absolute; z-index: 5; top:18px; left: 50%; margin: 0px 0px 0px -15px; transform-origin: center; -webkit-transform-origin: center; -moz-transform-origin: center; -o-transform-origin: center; -ms-transform-origin: center; -webkit-transition: all .6s cubic-bezier(0.245, 0.145, 1.355, 1); -moz-transition: all .6s cubic-bezier(0.445, 0.145, 0.355, 1); -o-transition: all .6s cubic-bezier(0.445, 0.145, 0.355, 1); -ms-transition: all .6s cubic-bezier(0.445, 1.045, 0.355, 1); transition: all .6s cubic-bezier(0.445, 0.145, 0.355, 1);}
.menu-handler .burger-2 { top:29px; }
.menu-handler .burger-3 { top:40px; }
.menu-handler.active .burger-1 { top: 21px; -moz-transform: rotate(225deg); -webkit-transform: rotate(225deg); -o-transform: rotate(225deg); -ms-transform: rotate(225deg); transform: rotate(225deg); }
.menu-handler.active .burger-2 { -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: alpha(opacity=0); opacity: 0; -moz-opacity: 0; -khtml-opacity: 0; -webkit-opacity: 0; }
.menu-handler.active .burger-3 { top: 21px; -moz-transform: rotate(-225deg); -webkit-transform: rotate(-225deg); -o-transform: rotate(-225deg); -ms-transform: rotate(-225deg); transform: rotate(-225deg); }


.menuMobileBox { position: fixed; left: 0px; top: 0%; width: 100%; height: 0%; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; z-index: 10006; background-color:#1376ce; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; }
.menuclose { width: 48px; height: 48px; display: block; position: absolute; right: 0; top:0; cursor: pointer; }
.menuclose:hover { background-color:#fff; }
.menuclose:hover i { background-color:#1376ce; }
.menuclose i { width: 30px; height: 2px; background-color:#fff; position: absolute; left: 9px; top: 24px; }
.menuclose .i1 { -moz-transform: rotate(225deg); -webkit-transform: rotate(225deg); -o-transform: rotate(225deg); -ms-transform: rotate(225deg); transform: rotate(225deg); }
.menuclose .i2 { -moz-transform: rotate(-225deg); -webkit-transform: rotate(-225deg); -o-transform: rotate(-225deg); -ms-transform: rotate(-225deg); transform: rotate(-225deg); }
.navMobile { padding:40px 0; }
.navMobile dd { display: block; width: 100%; text-align: center; }
.navMobile dd p a { display:block; text-transform: uppercase; font-size:17px; position: relative; color:#fff; padding:10px 0; transition: 600ms ease 350ms; -webkit-transition: 600ms ease 350ms; opacity: 0; }
.navMobile dd p a.cur, .navMobile dd p a:hover { background:#fff; color:#1376ce; }
.navMobile dd .msubnav { background-color: #fafafa; display: none; padding: 15px 0px; }
.navMobile dd .msubnav a { display: block; font-size: 16px; padding: 5px 0px; color: #333; position: relative;  }
.navMobile dd .msubnav a:hover{ color:#1376ce;}
.open .menuMobileBox{ height: 100%;}
.open .navMobile dd p a{opacity: 1;}


.zkBanner{ overflow:hidden; position:relative;}
.zkBanner li img{ width:100%; display:block;}
.zkBanner .swiper-pagination{ font-size:0; bottom:26px !important;}
.zkBanner .swiper-pagination-bullet{ background:#717171; width:12px; height:12px; margin:0 9px !important; opacity:1;}
.zkBanner .swiper-pagination-bullet-active{ background:#31a825;}


.zkNews-page{ padding:55px 0 65px 0;}
.zkNews{ width:790px;}
.zkNews-title{ position:relative;}
.zkNews-title .cn{ font-size:30px; font-weight:bold; line-height:31px; padding-left:13px; border-left:6px #31a825 solid;}
.zkNews-title .mo{ font-size:18px; color:#5f5f5f; padding-top:6px;}
.zkNews-title .mo:hover{ color:#015198; }
.zkNews-title ul li{ float:left; margin-left:50px; font-size:24px; line-height:25px; padding-top:4px; position:relative; cursor:pointer;}
.zkNews-title ul li:before{ content:''; background:#015198; width:0; height:2px; position:absolute; left:50%; bottom:-7px; transition:all 0.4s;}
.zkNews-title ul li.active, .zkNews-title ul li:hover{ font-weight:bold; color:#015198;}
.zkNews-title ul li.active:before, .zkNews-title ul li:hover:before{ width:100%; left:0;}

.zkNews-list{ margin-top:17px;}
.zkNews-list li{ background:#f6f6f6; width:385px; float:left; display:inline-block; transition:all 0.4s;}
.zkNews-list li:last-child{ float:right;}
.zkNews-list li .pic{ overflow:hidden;}
.zkNews-list li .pic img{ width:100%; display:block; transition:all 0.4s;}
.zkNews-list li .word{ padding:19px;  transition:all 0.3s;}
.zkNews-list li .word .t{ font-size:18px; font-weight:bold; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.zkNews-list li .word .c{ margin-top:10px; line-height:24px; height:72px; overflow:hidden; text-align:justify;}
.zkNews-list li .word .f{ margin-top:70px; line-height:36px; color:#666;}
.zkNews-list li .word .f .view{ line-height:34px; padding:0 15px; border-radius:20px; border:1px #c6c6c6 solid;}
.zkNews-list li .word .f .view .iconfont{ margin-left:3px;}
.zkNews-list li:hover{ background:#1376ce;}
.zkNews-list li:hover .pic img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);}
.zkNews-list li:hover .word{ color:#fff;}
.zkNews-list li:hover .word .f{ color:#fff;}


.zkAbout{ width:450px;}
.zkAbout-info{ background:#1376ce; color:#fff; margin-top:17px;}
.zkAbout-info .pic{ overflow:hidden;}
.zkAbout-info .pic img{ width:100%; display:block; transition:all 0.4s;}
.zkAbout-info .word{ padding:19px 22px 40px 22px;}
.zkAbout-info .word .t{ font-size:18px; font-weight:bold;}
.zkAbout-info .word .c{ margin-top:10px; line-height:24px; height:72px; overflow:hidden; text-align:justify;}
.zkAbout-info .word .f{ margin-top:35px;}
.zkAbout-info .word .f .btn{ width:190px; line-height:48px; float:left; text-align:center; font-size:18px; color:#98cfff; border:1px #67b7ff solid; border-radius:5px;}
.zkAbout-info .word .f .btn .iconfont{ margin-left:10px;}
.zkAbout-info .word .f .btn:last-child{ float:right;}
.zkAbout-info:hover .pic img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);}


.zkDepart-page{ background-image:url(../images/zkDepart-pageBg.jpg); background-position:center; background-size:cover; padding:90px 0 110px 0;}
.zkDepart{ width:790px;}
.zkDepart-list{ background:rgba(255,255,255,.7); margin-top:17px; min-height:356px; padding:6px 0 0 39px; -webkit-box-shadow:0 0 7px rgba(193,193,193,.35); -moz-box-shadow:0 0 7px rgba(193,193,193,.35); box-shadow:0 0 7px rgba(193,193,193,.35);}
.zkDepart-list a{ background:#fff; width:227px; line-height:48px; font-size:18px; padding-left:30px; position:relative; margin:28px 13px 0 0; float:left; border:1px #d9e6f2 solid; border-radius:30px;}
.zkDepart-list a:before{ content:''; background:#9fbed7; width:5px; height:5px; position:absolute; left:16px; top:50%; margin-top:-3px; border-radius:50%;}
.zkDepart-list a:hover{ background:#1376ce; color:#fff; border-color:#1376ce;}
.zkDepart-list a:hover:before{ background:#fff;}


.zkGuide { width:450px;}
.zkGuide-menu{ background:#64bb63; margin-top:17px; padding:41px 50px; -webkit-box-shadow:0 0 7px rgba(162,162,162,.35); -moz-box-shadow:0 0 7px rgba(162,162,162,.35); box-shadow:0 0 7px rgba(162,162,162,.35);}
.zkGuide-menu a{ width:175px; padding:25px 0; float:left; text-align:center;}
.zkGuide-menu a .icon{ display:inline-block; vertical-align:top;}
.zkGuide-menu a .tit{ font-size:16px; font-weight:bold; margin-top:10px; color:#fff;}
.zkGuide-menu a:hover .icon{ -webkit-animation:jello 1s; -moz-animation: jello 1s; animation: jello 1s;}

.zkExperts{ background:#f9f9f9; padding:70px 0 100px 0;}
.zkExperts-cont{ background:#fff; margin-top:20px; -webkit-box-shadow:0 0 7px rgba(199,199,199,.18); -moz-box-shadow:0 0 7px rgba(199,199,199,.18); box-shadow:0 0 7px rgba(199,199,199,.18);}
.zkExperts-query{ width:330px; padding:32px 43px 0 43px;}
.zkExperts-query .tit{ font-size:18px; font-weight:bold;}
.zkExperts-query .filed li{ padding:18px 0 9px 0; vertical-align:middle;}
.zkExperts-query .filed li .inpt{ width:100%; height:43px; line-height:41px; font-size:16px; color:#737373; vertical-align:top; padding-left:18px; border:1px #d7d7d7 solid;}
.zkExperts-query .filed li select{ background:url(../images/select-arrow.png) no-repeat 95% center;}
.zkExperts-query .filed li .btn{ background:#1376ce; width:100%; height:47px; line-height:47px; font-size:20px; color:#fff; cursor:pointer; border-radius:5px;}

.zkExperts-list{ width:950px; padding:0 90px; position:relative; border-left:1px #ebebeb solid;}
.zkExperts-list .swiper-button-next, .zkExperts-list .swiper-button-prev{ width:auto; height:auto; font-size:48px; line-height:1; margin-top:-24px; color:#7b7b7b;}
.zkExperts-list .swiper-button-next:hover, .zkExperts-list .swiper-button-prev:hover{ color:#1376ce;}
.zkExperts-list .swiper-button-prev{ left:20px;}
.zkExperts-list .swiper-button-next{ right:20px;}
.zkExperts-list-box{ overflow:hidden; padding:27px 0 31px 0;}
.zkExperts-list-box li .pic{ overflow:hidden;}
.zkExperts-list-box li .pic img{ width:100%; display:block; transition:all 0.3s;}
.zkExperts-list-box li .txt{ padding:15px 12px 10px 12px;}
.zkExperts-list-box li .txt .t{ font-size:16px; position:relative; padding-bottom:10px;}
.zkExperts-list-box li .txt .t:before{ content:''; background:#0b72cd; width:31px; height:2px; position:absolute; left:0; bottom:0;}
.zkExperts-list-box li .txt .c{ line-height:24px; margin-top:10px;}
.zkExperts-list-box li:hover{ transition:all 0.4s; -webkit-box-shadow:0 0 7px rgba(162,162,162,.35); -moz-box-shadow:0 0 7px rgba(162,162,162,.35); box-shadow:0 0 7px rgba(162,162,162,.35);}
.zkExperts-list-box li:hover .pic img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);}


.zkHealth-page{ padding:70px 0;}
.zkHealth-item{ background:#f6f6f6; width:410px;  margin-right:25px; display:inline-block;}
.zkHealth-item .pic{ position:relative; overflow:hidden;}
.zkHealth-item .pic img{ width:100%; display:block; transition:all 0.4s;}
.zkHealth-item .pic .cn{ background:#1376ce; width:188px; line-height:59px; text-align:center; font-size:30px; font-weight:bold; color:#fff; position:absolute; left:0; bottom:0; z-index:2;}
.zkHealth-item .pic .cn:before{content:''; height:0; width:0; display:block; border:20px transparent solid; border-top-width:0; border-left-width:0; border-bottom-color:#31a825; position:absolute; bottom:0px; left:0px;}
.zkHealth-item .list{ padding:7px 25px 18px 25px;}
.zkHealth-item .list li{ padding-top:15px;}
.zkHealth-item .list li a{ display:block; padding-left:11px; position:relative; font-size:16px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.zkHealth-item .list li a:before{ content:''; background:#9fbed7; width:5px; height:5px; position:absolute; left:0; top:50%; margin-top:-2px; border-radius:50%;}
.zkHealth-item .list li span{ display:block; color:#686868; margin-top:8px;}
.zkHealth-item:last-child{ margin-right:0;}
.zkHealth-item:hover .pic img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);}


.zkEqui-list{ position:relative; margin-top:20px;}
.zkEqui-list .swiper-button-next, .zkEqui-list .swiper-button-prev{ width:36px; height:36px; line-height:34px; text-align:center; top:-55px; margin-top:auto; font-size:24px; color:#9b9b9b; border:1px #cfcfcf solid; border-radius:5px;}
.zkEqui-list .swiper-button-next:hover, .zkEqui-list .swiper-button-prev:hover{ background:#1376ce; color:#fff; border-color:#1376ce;}
.zkEqui-list .swiper-button-prev{ left:auto; right:51px;}
.zkEqui-list .swiper-button-next{ right:0;}
.zkEqui-list-box{ overflow:hidden;}
.zkEqui-list-box li{ position:relative; overflow:hidden;}
.zkEqui-list-box li img{ width:100%; display:block; transition:all 0.4s;}
.zkEqui-list-box li .tit{ background:#fff; width:100%; font-size:16px; color:#333; line-height:53px; text-align:center; position:relative; left:0; bottom:0; z-index:2;}
.zkEqui-list-box li:hover img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);}



.zkFooter{ margin-top:95px;}
.zkFooter-links{ background:#ededed; padding:15px 0 20px 0; line-height:31px;}
.zkFooter-links .tit img{ display:inline-block; vertical-align:top; margin-right:14px;}
.zkFooter-links .txt{ width:calc(100% - 115px);} 
.zkFooter-links .txt a{ padding:0 10px; display:inline-block; position:relative;}
.zkFooter-links .txt a:before{ content:''; background:#7e7e7e; width:1px; height:15px; position:absolute; right:0; top:8px;}
.zkFooter-btm{ background:#0e5fa7; padding:60px 0 30px 0;}
.zkFooter-btmLeft{ width:765px;}
.zkFooter-btmLeft .f-code dd{ width:103px; float:left; text-align:center; margin-right:17px;}
.zkFooter-btmLeft .f-code dd img{ border:1px #fff solid;}
.zkFooter-btmLeft .f-code dd .t{ margin-top:8px; color:#a8d0f4;}
.zkFooter-btmLeft .f-copy{ padding-top:22px; line-height:24px; color:#51a5f0;}
.zkFooter-btmLeft .f-copy a{color:#51a5f0;}
.zkFooter-btmMiddle{ width:280px; padding-left:40px; color:#b8deff; border-left:1px #287ecb solid; border-right:1px #287ecb solid;}
.zkFooter-btmMiddle dl:last-child{ padding-top:35px;}
.zkFooter-btmMiddle dt{ width:41px; float:left;}
.zkFooter-btmMiddle dd{ overflow:hidden; padding-left:8px; line-height:24px;}
.zkFooter-btmMiddle dd .tel{ font-size:18px; font-weight:bold;}
.zkFooter-btmRight{ width:124px; text-align:center; color:#a8d0f4;}
.zkFooter-btmRight img{ border:1px #fff solid; margin-bottom:8px;}

.zkFooter-sider{ width:87px; position:fixed; right:2%; top:50%; z-index:100;}
.zkFooter-sider a{ background:#15aeda; display:block; text-align:center; margin-top:2px; border-radius:5px; color:#fff; padding:17px 0 11px 0;}
.zkFooter-sider a .iconfont{ font-size:32px; line-height:1; margin-bottom:8px; display:inline-block; vertical-align:top;}
.zkFooter-sider a:last-child{ background:#0ebf6a;}
.zkFooter-sider a:hover .iconfont{ -webkit-animation:jello 1s; -moz-animation: jello 1s; animation: jello 1s;}
@-webkit-keyframes jello {
    from, 11.1%, to { -webkit-transform: none; transform: none }
    22.2% { -webkit-transform: skewX(-12.5deg) skewY(-12.5deg); transform: skewX(-12.5deg) skewY(-12.5deg) }
    33.3% { -webkit-transform: skewX(6.25deg) skewY(6.25deg); transform: skewX(6.25deg) skewY(6.25deg) }
    44.4% { -webkit-transform: skewX(-3.125deg) skewY(-3.125deg); transform: skewX(-3.125deg) skewY(-3.125deg) }
    55.5% { -webkit-transform: skewX(1.5625deg) skewY(1.5625deg); transform: skewX(1.5625deg) skewY(1.5625deg) }
    66.6% { -webkit-transform: skewX(-.78125deg) skewY(-.78125deg); transform: skewX(-.78125deg) skewY(-.78125deg) }
    77.7% { -webkit-transform: skewX(0.390625deg) skewY(0.390625deg); transform: skewX(0.390625deg) skewY(0.390625deg) }
    88.8% { -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg); transform: skewX(-.1953125deg) skewY(-.1953125deg) }
}

@-moz-keyframes jello {
    from, 11.1%, to { -moz-transform: none; transform: none }
    22.2% { -moz-transform: skewX(-12.5deg) skewY(-12.5deg); transform: skewX(-12.5deg) skewY(-12.5deg) }
    33.3% { -moz-transform: skewX(6.25deg) skewY(6.25deg); transform: skewX(6.25deg) skewY(6.25deg) }
    44.4% { -moz-transform: skewX(-3.125deg) skewY(-3.125deg); transform: skewX(-3.125deg) skewY(-3.125deg) }
    55.5% { -moz-transform: skewX(1.5625deg) skewY(1.5625deg); transform: skewX(1.5625deg) skewY(1.5625deg) }
    66.6% { -moz-transform: skewX(-.78125deg) skewY(-.78125deg); transform: skewX(-.78125deg) skewY(-.78125deg) }
    77.7% { -moz-transform: skewX(0.390625deg) skewY(0.390625deg); transform: skewX(0.390625deg) skewY(0.390625deg) }
    88.8% { -moz-transform: skewX(-.1953125deg) skewY(-.1953125deg); transform: skewX(-.1953125deg) skewY(-.1953125deg) }
}

@keyframes jello {
    from, 11.1%, to { -webkit-transform: none; -moz-transform: none; transform: none }
    22.2% { -webkit-transform: skewX(-12.5deg) skewY(-12.5deg); -moz-transform: skewX(-12.5deg) skewY(-12.5deg); transform: skewX(-12.5deg) skewY(-12.5deg) }
    33.3% { -webkit-transform: skewX(6.25deg) skewY(6.25deg); -moz-transform: skewX(6.25deg) skewY(6.25deg); transform: skewX(6.25deg) skewY(6.25deg) }
    44.4% { -webkit-transform: skewX(-3.125deg) skewY(-3.125deg); -moz-transform: skewX(-3.125deg) skewY(-3.125deg); transform: skewX(-3.125deg) skewY(-3.125deg) }
    55.5% { -webkit-transform: skewX(1.5625deg) skewY(1.5625deg); -moz-transform: skewX(1.5625deg) skewY(1.5625deg); transform: skewX(1.5625deg) skewY(1.5625deg) }
    66.6% { -webkit-transform: skewX(-.78125deg) skewY(-.78125deg); -moz-transform: skewX(-.78125deg) skewY(-.78125deg); transform: skewX(-.78125deg) skewY(-.78125deg) }
    77.7% { -webkit-transform: skewX(0.390625deg) skewY(0.390625deg); -moz-transform: skewX(0.390625deg) skewY(0.390625deg); transform: skewX(0.390625deg) skewY(0.390625deg) }
    88.8% { -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg); -moz-transform: skewX(-.1953125deg) skewY(-.1953125deg); transform: skewX(-.1953125deg) skewY(-.1953125deg) }
}



/**概况**/
.pmain-pos{ padding:30px 0 12px 0; line-height:19px; color:#8c8c8c;}
.pmain-pos a{ color:#8c8c8c;}
.pmain-pos .iconfont{ font-size:19px; margin-right:5px; display:inline-block; vertical-align:top;}

.pmain-menu{ background:#f2f2f2; padding-left:58px; border-bottom:3px #0e5fa7 solid;}
.pmain-menu a{ line-height:50px; float:left; font-size:16px; color:#444; padding:0 30px; position:relative;}
.pmain-menu a.active, .pmain-menu a:hover{ background:#0e5fa7; color:#fff;}
.pmain-menu a.active:before, .pmain-menu a:hover:before{ content:''; height:0; width:0; display:block; border:20px transparent solid; border-bottom-width:0; border-right-width:0; border-top-color:#31c222; position:absolute; top:0px; right:0px;}


.pabout{ padding:20px; border:1px #ededed solid;}
.pabout-figure{ position:relative; overflow:hidden; padding-bottom:42px; margin-bottom:25px;}
.pabout-figure li{ position:relative; overflow:hidden;}
.pabout-figure li img{ width:100%; display:block; transition:all 0.4s;}
.pabout-figure li .tit{ background:rgba(0,0,0,.5); width:100%; line-height:54px; padding:0 10px; font-size:16px; color:#fff; text-align:center; position:absolute; left:0; bottom:0; z-index:2;}
.pabout-figure li:hover img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);}
.pabout-figure .swiper-pagination{ font-size:0;}
.pabout-figure .swiper-pagination-bullet{ background:#7f7f7f; width:11px; height:11px; margin:0 4px; opacity:1;}
.pabout-figure .swiper-pagination-bullet-active{ background:#31a825;}

.pabout-info{ font-size:16px; line-height:36px; text-align:justify;}
.pabout-info .t{ font-size:24px; font-weight:bold; padding-bottom:30px; position:relative;}
.pabout-info .t:before{ content:''; background:#31a825; width:89px; height:3px; position:absolute; left:0; bottom:15px;}


/**新闻中心**/
.pnews-line{ position:relative; overflow:hidden; padding-bottom:40px; margin-top:20px;}
.pnews-line li{ position:relative; overflow:hidden;}
.pnews-line li img{ width:100%; display:block; transition:all 0.4s;}
.pnews-line li .text{ background:rgba(0,0,0,.5); width:100%; padding:12px 20px; position:absolute; left:0; bottom:0; z-index:2;}
.pnews-line li .text .t{ font-size:16px; color:#fff; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.pnews-line li .text .d{ display:block; color:#a2a2a2; margin-top:8px;}
.pnews-line li:hover img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);}
.pnews-line .swiper-pagination{ font-size:0;}
.pnews-line .swiper-pagination-bullet{ background:#7f7f7f; width:11px; height:11px; margin:0 4px; opacity:1;}
.pnews-line .swiper-pagination-bullet-active{ background:#31a825;}

.pnews-list{ padding-top:22px;}
.pnews-list li{ padding:22px; overflow:hidden; vertical-align:middle; transition:all 0.4s; border-bottom:1px #ececec solid; }
.pnews-list li .pic{ width:184px; overflow:hidden;}
.pnews-list li .pic img{ width:100%; display:block; transition:all 0.4s;}
.pnews-list li .word{ width:calc(100% - 184px); padding-left:35px;}
.pnews-list li .word .t{ font-size:18px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; transition:all 0.4s; }
.pnews-list li .word .c{ line-height:24px; margin-top:11px; max-height:48px; overflow:hidden; text-align:justify; color:#666;}
.pnews-list li .word .f{ color:#888; margin-top:17px; line-height:20px; font-size:12px;}
.pnews-list li .word .f .browse{ padding:0 20px;}
.pnews-list li .word .f .iconfont{ font-size:18px; display:inline-block; vertical-align:top; margin-right:6px;}
.pnews-list li:hover{ background:#f5f5f5;}
.pnews-list li:hover .pic img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);}
.pnews-list li:hover .word .t{ font-weight:bold;}


.pnews-detaTop{ padding:15px 0; text-align:center; border-bottom:1px #ccc solid;}
.pnews-detaTop .t{ font-size:24px; font-weight:bold; padding-bottom:15px; line-height:36px;}
.pnews-detaTop .c span{ padding:0 15px; color:#999;}
.pnews-detaInfo{ line-height:36px; font-size:16px; text-align:justify; padding:30px 0;}
.pnews-detaPage{ background:#f4f4f4; padding:18px 30px; position:relative;}
.pnews-detaPage a{ max-width:50%; color:#666; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.pnews-detaPage .return{ background:#d8d8d8; font-size:16px; padding:0 20px; line-height:55px; position:absolute; left:50%; top:0; margin-left:-65px;}
.pnews-detaPage .return .iconfont{ font-size:20px; margin-right:10px; display:inline-block; vertical-align:top;}
.pnews-detaPage a:hover{ color:#005bab;}


.ppage{ text-align:center; padding-top:50px; font-size:0;}
.ppage a{ background:#efefef; line-height:33px; margin:0 5px; vertical-align:top; padding:0 12px; display:inline-block; font-size:14px;}
.ppage .nowpage{ background:#0e5fa7; line-height:33px; margin:0 5px; vertical-align:top; font-size:14px; padding:0 12px; display:inline-block; color:#fff; }
.ppage a:hover{ background:#0e5fa7; color:#fff;}


/**科室设置**/
.pdepart-title{ padding-top:20px;}
.pdepart-title .cn{ font-size:24px; font-weight:bold;}
.pdepart-title .index{ line-height:25px; color:#666;}
.pdepart-title .index a{ color:#666; display:inline-block; padding:0 8px; vertical-align:top;}
.pdepart-title .index a.active, .pdepart-title .index a:hover{ background:#0e5fa7; color:#fff;}

.pdepart-list dl{ background:#dcefff; margin-top:30px;}
.pdepart-list dl:nth-child(2) { background:#e2f9ff;}
.pdepart-list dl:nth-child(2) dt{ background:#10adda;}
.pdepart-list dl:nth-child(2) dd{ border:1px #2fb5db solid;}
.pdepart-list dl:nth-child(3) { background:#e1fef0;}
.pdepart-list dl:nth-child(3) dt{ background:#0ebf6a;}
.pdepart-list dl:nth-child(3) dd{ border:1px #2ec57c solid;}
.pdepart-list dl:nth-child(4) { background:#e8edff;}
.pdepart-list dl:nth-child(4) dd{ border:1px #687bc5 solid;}
.pdepart-list dl:nth-child(4) dt{ background:#5d74ca;}
.pdepart-list dl dt{ background:#0e5fa7; font-size:18px; font-weight:bold; color:#fff; line-height:55px; position:relative; padding-left:47px;}
.pdepart-list dl dt:before{ content:''; background:#fff; width:6px; height:25px; position:absolute; left:28px; top:15px;}
.pdepart-list dl dd{ background:url(../images/pdepart-Bg.png) repeat; padding:26px; border:1px #0e5fa7 solid;}
.pdepart-list dl dd a{ width:20%; float:left; font-size:16px; line-height:40px; position:relative; padding-left:13px;}
.pdepart-list dl dd a:before{ content:''; background:#7faacf; width:4px; height:4px; position:absolute; left:0; top:50%; margin-top:-2px; border-radius:50%;}



.pdepart-detaInfo-figure{ width:483px; position:relative; overflow:hidden;}
.pdepart-detaInfo-figure li{ position:relative;}
.pdepart-detaInfo-figure li img{ width:100%; display:block; transition:all 0.4s;}
.pdepart-detaInfo-figure li .tit{ background:rgba(0,0,0,.5); width:100%; line-height:40px; font-size:14px; color:#fff; padding:0 85px 0 20px; position:absolute; left:0; bottom:0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.pdepart-detaInfo-figure .swiper-pagination{ font-size:0; text-align:right !important; padding-right:20px; bottom:14px !important;}
.pdepart-detaInfo-figure .swiper-pagination-bullet{ background:#a5a5a1; width:10px; height:10px; margin:0 5px !important; opacity:1;}
.pdepart-detaInfo-figure .swiper-pagination-bullet-active{ background:#ff7000;}
.pdepart-detaInfo-word{ width:770px; padding-top:20px;}
.pdepart-detaInfo-word .t .cn{ font-size:24px; font-weight:bold; padding-bottom:13px; position:relative;}
.pdepart-detaInfo-word .t .cn:before{ content:''; background:#31a825; width:44px; height:3px; position:absolute; left:0; bottom:0;}
.pdepart-detaInfo-word .t .mo{ line-height:27px; color:#0e5fa7; padding:0 15px; margin-top:8px; border:1px #0e5fa7 solid;}
.pdepart-detaInfo-word .t .mo:hover{ background:#0e5fa7; color:#fff;}
.pdepart-detaInfo-word .c{ font-size:16px; height:120px; line-height:30px; text-align:justify; margin-top:10px; overflow:hidden;}
.pdepart-detaInfo-word .f{ background:#efefef; margin-top:37px; padding:30px 0 30px 25px; line-height:34px; color:#5a5a5a;}
.pdepart-detaInfo-word .f .iconfont{ font-size:28px; display:inline-block; vertical-align:top; margin-right:10px;}
.pdepart-detaInfo-word .f .add{ padding-left:55px;}


.pdepart-detaDoctor{ margin-top:40px;}
.pdepart-detaDoctor-title{ font-size:20px; font-weight:bold;  line-height:31px;}
.pdepart-detaDoctor-listBox{ position:relative; margin-top:20px;}
.pdepart-detaDoctor-list{ padding:31px 29px; overflow:hidden;  margin-top:10px; -webkit-box-shadow:0 0 9px rgba(91,91,91,.1); -moz-box-shadow:0 0 9px rgba(91,91,91,.1); box-shadow:0 0 9px rgba(91,91,91,.1);}
.pdepart-detaDoctor-list li .pic{ overflow:hidden;}
.pdepart-detaDoctor-list li .pic img{ width:100%; display:block; transition:all 0.3s;}
.pdepart-detaDoctor-list li .txt{ padding:15px 12px 10px 12px;}
.pdepart-detaDoctor-list li .txt .t{ font-size:16px; position:relative; padding-bottom:10px;}
.pdepart-detaDoctor-list li .txt .t:before{ content:''; background:#0b72cd; width:31px; height:2px; position:absolute; left:0; bottom:0;}
.pdepart-detaDoctor-list li .txt .c{ line-height:24px; margin-top:10px;}
.pdepart-detaDoctor-list li:hover{ transition:all 0.4s; -webkit-box-shadow:0 0 7px rgba(162,162,162,.35); -moz-box-shadow:0 0 7px rgba(162,162,162,.35); box-shadow:0 0 7px rgba(162,162,162,.35);}
.pdepart-detaDoctor-list li:hover .pic img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05);}
.pdepart-detaDoctor-list .swiper-button-next, .pdepart-detaDoctor-list .swiper-button-prev{ width:32px; height:32px; text-align:center; font-size:17px; color:#b6b6b6; line-height:30px; top:-50px; margin-top:auto; left:auto !important; border:1px #cacaca solid; border-radius:50%;}
.pdepart-detaDoctor-list .swiper-button-next{ right:0;}
.pdepart-detaDoctor-list .swiper-button-prev{ right:43px;}
.pdepart-detaDoctor-list .swiper-button-next:hover, .pdepart-detaDoctor-list .swiper-button-prev:hover, .pdepart-detaDoctor-list .swiper-button-next.swiper-button-disabled, .pdepart-detaDoctor-list .swiper-button-prev.swiper-button-disabled{ background:#31a825; border-color:#31a825; color:#fff;}


/**专家团队**/
.pvisits-head{ padding:20px 0 15px 0; line-height:31px;}
.pvisits-head .cn{ font-size:18px;}
.pvisits-head .choose{ line-height:31px; color:#757575;}
.pvisits-head .choose .label{ background:#fbfbfb; line-height:29px; float:left; margin-left:6px; padding:0 10px; border:1px #eaeaea solid;}
.pvisits-head .choose .label .close{ margin-left:10px; display:inline-block; vertical-align:top; font-size:18px;}

.pvisits-screen{ border:1px #eaeaea solid; border-bottom:0;}
.pvisits-screen dl{ border-bottom:1px #eaeaea solid;}
.pvisits-screen dl dt{ width:160px; float:left; text-align:center; font-size:16px; line-height:37px; padding:8px 0;}
.pvisits-screen dl dd{ overflow:hidden; padding:8px 0 8px 70px;  border-left:1px #eaeaea solid;}
.pvisits-screen dl dd .fenlei li a{ float:left; font-size:18px; line-height:37px; padding:0 25px; margin-right:50px; cursor:pointer;}
/*.pvisits-screen dl dd .fenlei li a{ color:#fff;}*/
.pvisits-screen dl dd .fenlei li.active a, .pvisits-screen dl dd .fenlei li:hover a{ background:#0e5fa7; color:#fff; border-radius:5px;}
.pvisits-screen dl dd .keshi li{ width:25%; float:left;}
.pvisits-screen dl dd .keshi li span{ display:inline-block; line-height:37px; padding-left:20px; font-size:16px; position:relative; cursor:pointer;}
.pvisits-screen dl dd .keshi li span:before{ content:''; background:#7faacf; width:4px; height:4px; position:absolute; left:7px; top:50%; margin-top:-2px; border-radius:50%;}
.pvisits-screen dl dd .keshi li:hover span, .pvisits-screen dl dd .keshi li.active span{ color:#0e5fa7;}
.pvisits-screen dl dd .keshi li:hover span:after, .pvisits-screen dl dd .keshi li.active span:after{ content:''; background:#0e5fa7; width:100%; height:2px; position:absolute; left:0; bottom:4px;}

.pvisits-title{ padding:40px 0 15px 0; border-bottom:2px #0e5fa7 solid;}
.pvisits-title .cn{ font-size:24px; font-weight:bold; float:left; line-height:34px; padding-right:8px;}
.pvisits-title .clin dd{ padding-left:22px; line-height:34px; font-size:14px; color:#757474; float:left;}
.pvisits-title .clin dd .dot{ background:#28a6db; width:13px; height:13px; display:inline-block; margin-right:8px; border-radius:50%; vertical-align:middle;}
.pvisits-title .clin dd:last-child .dot{ background:#1eb669;}
.pvisits-title .search .inpt{ width:171px; height:34px; line-height:32px; font-size:14px; padding-left:10px; color:#989898; float:left; border:1px #eaeaea solid; border-right:0;}
.pvisits-title .search .btn{ background:#28a6db; width:47px; height:34px; line-height:34px; text-align:center; color:#fff; font-size:20px; float:left; cursor:pointer;}


.pvisits-list{ margin-left:-21px; position:relative;}
.pvisits-list li{ width:calc(50% - 21px); margin-left:21px; margin-top:22px; float:left; display:inline-block; padding:23px; border:1px #eaeaea solid; transition:all 0.2s;}
.pvisits-list li .pic{ width:150px;}
.pvisits-list li .word{ width:calc(100% - 150px); padding-left:30px;}
.pvisits-list li .word .t{ font-size:18px; font-weight:bold;}
.pvisits-list li .word .t label{ font-size:14px; font-weight:normal; color:#666; padding:0 10px;}
.pvisits-list li .word .t em{ width:24px; height:24px; font-style:normal; line-height:24px; font-size:14px; font-weight:normal; text-align:center; display:inline-block; color:#fff; border-radius:50%;}
.pvisits-list li .word .t em.zhuan{ background:#28a6db;}
.pvisits-list li .word .t em.pu{ background:#1eb669;}
.pvisits-list li .word .d{ line-height:24px; padding:10px 0;}
.pvisits-list li .word .c{ line-height:24px; text-align:justify; max-height:48px; overflow:hidden;}
.pvisits-list li .word .m{ text-align:right; padding-top:25px;}
.pvisits-list li .word .m .btn{ background:#146bb9; width:73px; height:27px; line-height:27px; display:inline-block; color:#fff; text-align:center; }
.pvisits-list li:hover{ border-color:#0e5fa7;}


.pdoctor-head{ margin-top:10px; padding:25px; -webkit-box-shadow:0 0 7px rgba(204,204,204,.35); -moz-box-shadow:0 0 7px rgba(204,204,204,.35); box-shadow:0 0 7px rgba(204,204,204,.35);}
.pdoctor-head .pic{ width:150px;}
.pdoctor-head .info{ width:calc(100% - 450px); padding:0 20px 0 30px;}
.pdoctor-head .info .t{ font-size:18px; font-weight:bold;}
.pdoctor-head .info .t label{ font-size:14px; color:#666; font-weight:normal; padding-left:10px;}
.pdoctor-head .info .d{ padding:15px 0;}
.pdoctor-head .info .c{ font-size:14px; line-height:24px; text-align:justify;}
.pdoctor-head .belong{ width:300px; text-align:center; min-height:170px; padding-top:20px; border-left:1px #e7e7e7 solid;}
.pdoctor-head .belong .bt{ font-size:24px; font-weight:bold;}
.pdoctor-head .belong .bm{ background:#28a6db; width:159px; line-height:38px; font-size:18px; color:#fff; display:inline-block; margin-top:20px; border-radius:5px;}
.pdoctor-head .belong .bm .iconfont{ margin-left:15px; display:inline-block; vertical-align:top;}


.pdoctor-int{ margin-top:30px;}
.pdoctor-intTit{ font-size:24px; font-weight:bold; line-height:33px;}
.pdoctor-intTit img{ margin-right:5px; display:inline-block; vertical-align:top;}
.pdoctor-intTit .tips{ font-size:16px; font-weight:normal; color:#d81e1e; padding-left:25px;}
.pdoctor-intTxt{ font-size:16px; line-height:36px; color:#444; padding:25px; margin-top:10px; text-align:justify; border:1px #eaeaea solid;}

.pdoctor-make{ margin-top:45px;}
.pdoctor-make-filed{ background:#f4f4f4; padding:20px 0 40px 130px; margin-top:10px; border:1px #e9e9e9 solid;}
.pdoctor-make-filed li{ width:450px; float:left; min-height:51px; position:relative; margin:30px;}
.pdoctor-make-filed li .label{ background:#fff; width:105px; height:49px; line-height:49px; font-size:16px; color:#616161; padding-left:15px; position:absolute; left:1px; top:1px; z-index:2; border-radius:5px 0 0 5px;}
.pdoctor-make-filed li .inpt{ background:#fff; width:100%; height:51px; line-height:49px; vertical-align:top; padding-left:105px; font-size:16px; border:1px #e1e1e1 solid; border-radius:5px;}
.pdoctor-make-filed li select.inpt{ background:url(../images/select-up.png) no-repeat 95% center #fff;}
.pdoctor-make-filed li .yzm-img{ width:180px; height:49px; position:absolute; right:1px; top:1px; border-left:1px #e1e1e1 solid;}
.pdoctor-make-filed li .yzm-in{ font-size:16px; line-height:51px; color:#1a4ea4; position:absolute; top:0; right:-140px;}
.pdoctor-make-filed li .tips{ width:100%; padding-left:10px; color:#d81e1e; position:absolute; left:0; top:65px;}
.pdoctor-make-filed li .gender{ background:#fff; width:100%; height:51px; line-height:49px; vertical-align:top; padding-left:105px; font-size:16px; border:1px #e1e1e1 solid; border-radius:5px;}
.pdoctor-make-filed li .gender dd{ float:left; padding-right:50px; font-size:16px; line-height:49px;}
.pdoctor-make-filed li .gender dd input{ display:none;}
.pdoctor-make-filed li .gender dd label:before{ content:""; display:inline-block; width:28px; height:28px; border-radius:50%; vertical-align:middle; margin-right:13px; border:1px solid #d3d3d3; box-sizing:border-box; }
.pdoctor-make-filed li .gender dd input:checked+label:before{ background:url(../images/gou.png) no-repeat; background-size:100% auto; border:0;}

.pdoctor-make-button{ width:100%;}
.pdoctor-make-button .btn{ background:#189fd1; width:100%; height:78px; line-height:78px; text-align:center; font-size:24px; color:#fff; cursor:pointer;}


/**医院荣誉**/
.phonor-main{ border:1px #e1e1e1 solid; padding:0 17px 45px 17px;}
.phonor-list { margin-left:-13px; position:relative;}
.phonor-list li{ width:calc(33.3% - 13px); margin-left:13px; margin-top:22px; float:left; display:inline-block; text-align:center;}
.phonor-list li .pic{ padding:6px; border:1px #e1e1e1 solid;}
.phonor-list li .pic img{ width:100%;}
.phonor-list li .tit{ font-size:18px; margin-top:10px;}

.phonor-popup{ background:rgba(0,0,0,.6); width:100%; height:100%; position:fixed; left:0; top:0; bottom:0; right:0; z-index:99; text-align:center; display:none;}
.phonor-popup-iboxt{ background:#fff; width:1020px; display:inline-block; border-radius:15px; position:relative; padding:50px 0;}
.phonor-popup-iboxt .close{ background:#7a7a7a; width:38px; height:38px; line-height:38px; color:#fff; font-size:28px; border-radius:50%; display:inline-block; position:absolute; right:14px; top:14px;}
.phonor-popup-iboxt .tit{ font-size:24px; font-weight:bold; padding-bottom:40px;}
.phonor-popup-iboxt a.prev, .phonor-popup-iboxt a.next{ width:65px; height:65px; line-height:63px; color:#acacac; font-size:32px; font-weight:bold; display:inline-block; border:1px #e1e1e1 solid; border-radius:50%; position:absolute; top:50%; margin-top:-33px;}
.phonor-popup-iboxt a.prev{ left:35px;}
.phonor-popup-iboxt a.next{ right:35px;}